.App{
    margin-top: 8%;
    margin-left: 5%;
    margin-right:5%;
}
.header{
    margin-bottom: 2%;
    text-align: center;
    color: aliceblue;
}
.form-horizontal{
    margin: 5%;
}
.Gender{
    padding: 0.5%;
    background: white;
    margin-bottom: 1%;
}
